
.navbar {
    font-family: Courier, monospace;
    background-color: #d5b590 !important;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Abril Fatface';
    color: #1b4738 !important;
    font-size: 32px !important;
}

ul li {
    background-color: white;
    color: black;
    list-style-type: none;
  }

 #nav-menu {
     display: flex;
 }

 #nav-menu > li.active {
     color: white;
 }

 .nav-item {
    list-style-type: none;
 }

 .nav-link {
     color:  #1b4738 !important;
     font-family: 'Raleway', Courier, monospace;
     font-weight: 100;
 }

 .nav-link:hover{
     color: white;
 }

 .symptom {
        font-family: Courier, monospace;
        border: 1px  #d5b590 solid;
        background-color: #d5b590;
        border-radius: 2%;
        padding: 25px;
 }


.row {
margin-top: 20px;
}

.card-title {
color: #1b4738 !important;
padding: 0px;

}

.card-deck {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.dashboardcontainer {
    position: relative !important;
    justify-content: center;
    margin: auto;
    display: grid;
    width: 100%;
    background-color: rgb(221, 220, 220);
}

.card-cd1 {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
} 

.fas {
    justify-content: center;
}

.pic4{
    height: 250px;
    width: 250px;
    float: right;
    display: flex
}

/* overall styling for cards */
.card-text {
    font-size: 1.5rem;
}

/* .card-deck {
    margin-left: 20px;
} */


/* Styling for cd1 */
.fa-exclamation-triangle {
    margin-right: 5px;
}

.card-cd1 {
    background-color: whitesmoke;
    margin-left: 45px !important;
    margin-right: auto;
}

.cd1Imgdiv {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.btn-symptom{
    color: black !important;
    background-color: #d5b590!important;
    border: 1px solid #d5b590 !important;
}
.btn-symptom:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}

.cd1textdiv h1 {
    font-family: 'Abril Fatface';
    color: #d5b590 !important;
}

.pic1{
    height: 250px;
    width: 250px;
    float: right;
    display: flex;
    border-radius: 50% !important;
    border: 10px double #d5b590 !important;
}




/* Styling for cd2 */
.cd2textdiv h1 {
    font-family: 'Abril Fatface';
    color: #1b4738;
}

.fa-user-md {
    margin-right: 5px;
}
.pic2{
    height: 250px;
    width: 250px;
    float: left;
    display: flex;
    border-radius: 50% !important;
    border: 10px double #1b4738 ;
}

.card-cd2 {
    background-color: #d5b590 !important;
    margin-left: 45px !important;
    margin-right: auto;
}

.cd2textdiv{
    float: right;   
}

.btn-optom {
    background-color: #1b4738 !important;
    color: white !important;
    font-size: 1.7rem;
    border: 1px solid #1b4738 !important;
}

.btn-optom:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}

/* Styling for cd3 */
.fa-book-medical {
    margin-right: 5px;
}

.card-cd3 {
    background-color: whitesmoke;
    margin-left: 45px !important;
    margin-right: auto;
}

.cd3Imgdiv {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.btn-medical{
    background-color: #d5b590 !important;
    color: black !important;
    border: 1px solid #d5b590 !important;
}

.btn-medical:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}

.cd3textdiv h1 {
    font-family: 'Abril Fatface';
    color: #d5b590!important;
}

.pic3{
    height: 250px;
    width: 250px;
    float: right;
    display: flex;
    border-radius: 50% !important;
    border: 10px double #d5b590 ;
}


/* Styling for cd4 */
.pic4{
    height: 250px;
    width: 250px;
    float: left;
    display: flex;
    border-radius: 50% !important;
    border: 10px double #1b4738 ;
}

.cd4textdiv h1 {
    font-family: 'Abril Fatface';
    color: 1b4738;
}

.fa-comments {
    margin-right: 5px;
}



.card-cd4 {
    background-color: #d5b590 !important;
    margin-left: 45px !important;
    margin-right: auto;
}

.cd4textdiv{
    float: right;   
}

.btn-chat {
    background-color: #1b4738 !important;
    color: whitesmoke !important;
    font-size: 1.7rem;
    border: 1px solid #1b4738 !important;
}

.btn-chat:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}

.cd4 {
    margin-bottom: 50px
}