/* Styling for management plan box */
h1 {
    color: #1b4738;
}

.treatmentcontainer {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
    justify-content: center;}

.treatmentcontainer h2{
    margin-left: none;
}

.treatmentDiv {
    border: 3px solid #1b4738;
    border-radius: 7px;
    padding: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Courier, monospace;
    background-color: #d5b590;
    margin-bottom:30px;
    font-size: 1.2rem;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}

label {
    color:#1b4738
}

.mxplanBtn {
    background-color: #1b4738 !important;
    color: whitesmoke;
    border-color: #1b4738 !important;
}

.mxplanBtn:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}
