.cardTitle {
    font-family: 'Abril Fatface';
    color: #1b4738 !important;
    font-size: 2rem;
    padding: 0;
}

.formContainer {
    display: grid;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.newSymptomContainer {
    background-color: rgb(221, 220, 220);
}