.symptomDiv {
    width: 100%;
    justify-content: center;
    padding: 25px;
}

/* Style buttons */
.deletebtn {
    background-color: #d5b590; /* Blue background */
    border: 1px solid #1b4738; /* Remove borders */
    border-radius: 5px;
    color:#1b4738!important; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 30% !important;
  
  }
  
  /* Darker background on mouse-over */
  .deletebtn:hover {
    background-color: #1b4738;
    color: white;
  }

  .cardDiv{
      max-width: initial;
  }

  h5{
    font-family: 'Abril Fatface';
    color: #1b4738;
  }

.buttonload {
  float: right;
  background-color: DodgerBlue; /* Blue background */
  border: 1px solid #1b4738; /* Remove borders */
  border-radius: 5px;
  color: #1b4738; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

  @media (min-width: 768px ){
      .col-md-6{
        max-width: initial;
      }
  }