.cardTitle{
  color: #d5b590 !important
}

.sympCardContainer {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.innersympCard{
  border: 3px solid #1b4738 !important;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.affectedEye {
  display: flex;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-top: 20px;
}

.sympCardTitle {
  align-items: center;
  margin-right: 20px;
  color: #1b4738;
}

.painLevel {
  display: flex;
  font-size: 1.2rem;
  margin-left: 10px;
}

.recordedSymp{
  display: flex;
  font-size: 1.2rem;
  margin-left: 10px;
}

.recordedDate{
  display: flex;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-bottom: 20px;
}

.removeSmpBtn {
  background-color: #d5b590 !important;
  color: #1b4738 ! important;
  font-family: 'Courier New', Courier, monospace;
}

.removeSmpBtn:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);

}
