.MxTitle {
    color:#1b4738 !important;
    display: flex;
    background-color: #e9ecef;
}

.MxHeading {
    display: flex;
    align-items: center;
    font-family: Courier, monospace;
    font-size: 1.8rem;
    background-color: #e9ecef;
}

.treatmentcontainer {
    align-items: center;
    justify-content: center;
    font-family: Courier, monospace;
    place-items: center;
    border: 2px solid #1b4738;
    border-radius: 5px;
    width: 90%; 
    margin: auto;
    margin-right: auto;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.jumbotron {
    background-color: none !important;
    margin : auto;
    display: grid;
    margin-bottom: none;;
}

p {
    color: black;
    font-family: Courier, monospace;
    display: grid;
}