.my-1 {
    color: #1b4738;
}

.form-inline {
    margin-top: 20px;
    font-family: Courier, monospace;
    font-size: 16px;
    margin-left: 20px;
}

.diagnosisDiv {
    margin-top: 20px;
}

thead {
    margin-top: 20px;
}

table{
    width: 100%;
    margin-bottom: 1rem;
   
    margin-top: 25px;
    background-color: #D5B590;
}

th {
    color: #1b4738;
}

.diagnosisName{
    color: black!important;
}
