#symptomBtn {
    background-color: #1b4738 ! important;
    color: white;
}
#symptomBtn:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}

.recordSymptom{
    color: #1b4738 !important;
}

.symptom{
    font-size: 1.2rem;
}

.mxPlanTitle{
   padding-left: none !important;
}

.mxdiagnosis {
    display: flex;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 20px;
}

.mxdiagnosisTitle{
    align-items: center;
    margin-right: 20px;
    color: #1b4738;
}

.mxtreatment{
    display: flex;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 20px;
}

.mxdate{
    display: flex;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-top: 20px;
}

.treatmentcontainer {
    background-color: antiquewhite;
}