.searchDiv {
    width: 90%;
    justify-content: left;
    text-align: left;

}

.patientSearchForm {
    margin-top: 20px;
    margin-left: 20px;
    border: solid;
    font-family: Courier, monospace;
    border: 1px  #d5b590 solid;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: #d5b590;
}

.btn {
    text-align: left;
}


.searchTitle {
    color: #1b4738 !important;
    padding-left: 0px;
}

.label {
    justify-content: center !important;

}

.patientSymptoms{
    background-origin: white;
}

.pxsymptomDiv {
    background-color: white;
}