body {
    background-color: rgb(243, 241, 241);
}

.searchDiv {
    width: 90%;
    justify-content: left;
    text-align: left;
    /* background-color:#ffff; */
    margin-top: 10px;
}

.optomAppInfo{
    align-items: baseline;
    justify-content: center;
    padding: 25px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
    background-color: #ffff;
}


.patientSearchForm {
    margin-top: 20px;
    margin-left: 20px;
    border: solid;
    font-family: Courier, monospace;
    border: 1px  #d5b590 solid;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: #d5b590;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);

}
 
.patientSearchForm label{
padding-left: 25px;
}

.btn {
    text-align: left;
}

#pxsearchBtn{
    background-color:#1b4738 !important;
    color: whitesmoke;
    font-family: Courier, monospace;
}

#pxsearchBtn:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}


.searchTitle {
    color: #1b4738 !important;
    padding-left: 0px;
}

.label {
    justify-content: center !important;

}

.patientSymptoms{
    background-origin: white;
}

.pxsymptomDiv {
    background-color: white;
}

.searchDiv{
    margin: auto;
    justify-content: center;
    text-align: left;
    padding: 25px;
    padding-right: 25px;
    align-items: center;
    margin-left: 30px;

}