.imgDiv {
    background-image: url("../../img/dark-green-texture.jpg");
    width: auto;
    height:100vh;
}

.container {
    float: left;
    width: 200px;
    position: absolute;
}

.signUpContainer {
    margin-bottom: 35px;
    padding-bottom: 35px;
}

.signup {
    font-family: Courier, monospace;
    background-color: #d5b590;
    border: 1px  #d5b590 solid;
    border-radius: 2%;
    padding: 25px;
  
}

#signupTitle {
    padding-top: none;
    margin-top: none; 
    margin: auto;
}
.signUpBtn{
    background-color: #1b4738 !important;
    color: white !important;
    font-family: Courier, monospace; 
}

.signUpBtn:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.294);
}

h2 {
    font-family: 'Abril Fatface';
    color: #d5b590 !important;
    font-size: 32px !important;
    padding: 25px;
}

.SignUpImage {
    border-radius: 50% !important;
    border: 10px double #d5b590 ;
}

.imageContainer {
    float: right;
}

input {
    background-color: lightgray !important;
}

button {
    background-color: #d5b590!important;
    color: black;
    font-family: 'Raleway', Courier, monospace;
}

.memberslinkDiv {
    float: right;
}

.imageDiv{
    padding: 100px;
    justify-content: center;
}

.membersBtn {
    padding-left: 25px;
}

a {
    color: black;
}

.date {
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .col-sm-1 {
        width: 100%;
        margin: auto;
    }

    .signup{
        width: 100%;
    }
}